[submodule "assets/html2opendocument"]
	path = assets/html2opendocument
	url = https://github.com/CatoTH/html2opendocument.git
[submodule "assets/htmlpurifier"]
	path = assets/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "assets/parsedown"]
	path = assets/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "assets/parsedown-extra"]
	path = assets/parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git
[submodule "assets/spyc"]
	path = assets/spyc
	url = https://github.com/mustangostang/spyc.git
[submodule "libreto/vendor/spyc"]
	path = libreto/vendor/spyc
	url = https://github.com/mustangostang/spyc.git
[submodule "libreto/vendor/PHP-CSS-Parser"]
	path = libreto/vendor/PHP-CSS-Parser
	url = https://github.com/sabberworm/PHP-CSS-Parser.git
[submodule "libreto/vendor/parsedown"]
	path = libreto/vendor/parsedown
	url = https://github.com/erusev/parsedown.git
[submodule "libreto/vendor/parsedown-extra"]
	path = libreto/vendor/parsedown-extra
	url = https://github.com/erusev/parsedown-extra.git
[submodule "libreto/vendor/htmlpurifier"]
	path = libreto/vendor/htmlpurifier
	url = https://github.com/ezyang/htmlpurifier.git
[submodule "libreto/vendor/html2opendocument"]
	path = libreto/vendor/html2opendocument
	url = https://github.com/CatoTH/html2opendocument.git
